.jumbotron {
    height: 150px;
}

body {
    background-color: #f8f8ff;
}

.form { 
    text-align: left;
}

.forecast {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card {
    justify-content: space-between;
    padding: 10px;
    background-color: blue;
    color: white;
    margin: 5px;
}

.searched {
    display: flex;
    flex-direction: column;
}

.severe {
    background-color: red
}

.moderate {
    background-color: yellow
}

.favorable {
    background-color: green;
}