.jumbotron {
    height: 100px;
    background-color: black;
    color: #f8f8ff;
}

body {
    background-color: #f8f8ff;
}

input {
    max-width: 90%;
}

.forecast {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: solid black 1px;
    padding: 15px;
}

.form {
    background-color: lightgray;
    width: 100%;
    padding: 2px;
}

#user-form {
    padding: 10px;
}

.btn {
    background-color: #f8f8ff;
    margin-top: 5px;
}

.card {
    justify-content: space-between;
    padding: 10px;
    background-color: blue;
    color: white;
    margin: 5px;
}

.searched {
    display: flex;
    flex-direction: column;
}

span {
    padding: 2px;
    border: 1px solid black;
}
.severe span {
    background-color: red
}

.moderate span {
    background-color: yellow
}

.favorable span {
    background-color: lightgreen;
}